@media screen and (max-width: 768px)  {
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
  /* 添加你的其他 CSS 样式 */
}

html, body {
  overflow-x: hidden;
}


body {
  cursor: url('/Material/ico/cur11.png'), auto;
  /* overflow: hidden; */
}


.header a {
  text-decoration: none; /* 取消下划线 */
  color: #878787; /* 修改字体颜色 */
}

.header a:hover {
  color: #32FF00; /* 鼠标 hover 时修改字体颜色 */
}


.header .wenzi span {
  font-family: "mediumfont"; /* 设置字体 */
  font-size: 15pt;
}

.header .wenzi a:hover span {
  font-family: "boldfont"; /* 鼠标 hover 时修改字体 */
  cursor: url("/Material/hover1.png"),auto;
  cursor: url("/Material/hover1.png"),auto;
}

#fishhead:hover img {
  content: url('/Material/pictures/header_head-green-33.png');
  cursor: url("/Material/hover1.png"),auto;
}
#fishtail:hover img {
  content: url('/Material/pictures/header_head-green-34.png');
  cursor: url("/Material/hover1.png"),auto;
}

/* *:hover {
  cursor: url('/Material/hover.png'), auto;
} */

*:active {
  cursor: url('/Material/ico/cur22.png'), auto;
}


.swiper-button-prev:hover{
  cursor: url("/Material/hover1.png"),auto;
}


.swiper-button-prev {

  background-image: url("/Material/some-else/n-n-left-button1.png") !important;
  background-size: contain; /* 设置背景图片适应按钮大小 */
  background-repeat: no-repeat; /* 禁止背景图片平铺 */
  background-position: center center;
  left: 3%;

}

.swiper-button-next {
  background-image: url("/Material/some-else/n-n-right-button1.png") !important;
  background-size: contain; /* 设置背景图片适应按钮大小 */
  background-repeat: no-repeat; /* 禁止背景图片平铺 */
  background-position: center center;
  right: 3%;
  
}
.swiper-button-prev,
.swiper-button-next {
  position: fixed;
  top: 90%;
  width: 75px;
  height: 49px;
  margin-top: -16px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--swiper-navigation-color, var(--swiper-theme-color)); */
  scale: 1.5;
  cursor: url("/Material/hover1.png"),auto;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
position: fixed;
top: 90%;
width: 49px;
height: 46px;
margin-top: -15px;
z-index: 10;
cursor: url("/Material/hover1.png"),auto;
display: flex;
align-items: center;
justify-content: center;
}
.swiper-button-prev:hover {
  background-image: url('/Material/some-else/n-n-left-button2.png')!important;
  background-size: contain; /* 设置背景图片适应按钮大小 */
  background-repeat: no-repeat; /* 禁止背景图片平铺 */
  background-position: center center;
}
.swiper-button-next:hover {
  background-image: url('/Material/some-else/n-n-right-button2.png')!important;
  background-size: contain; /* 设置背景图片适应按钮大小 */
  background-repeat: no-repeat; /* 禁止背景图片平铺 */
  background-position: center center;
}


/* 隐藏所有的滑轮 */
::-webkit-scrollbar {
    display: none;
  }
  
.hualun{
  display: flex;
  position: absolute;
  width: 100px;
  height: 100vh;
  right: 12px;
  top:89.5vh;
  z-index: 99;
  
}
#gunlun{
  width: 22.8%;
  height:auto;
  margin: auto;
  right: 0;
}


@font-face {
  font-family: "thinfont";
  src: url("/Addons/Fonts/thin.OTF");
}

@font-face {
  font-family: "mediumfont";
  src: url("/Addons/Fonts/mmm.TTF");
}

@font-face {
  font-family: "boldfont";
  src: url("/Addons/Fonts/bold.TTF");
}
@font-face {
  font-family: "bianzi";
  src: url("/Addons/Fonts/bianzi.TTF");
}
@font-face {
  font-family: "mullerthin";
  src: url("/Addons/Fonts/MullerNextExpandedTrial-Regular.otf");
}
@font-face {
  font-family: "fzbianzi";
  src: url("/Addons/Fonts/方正兰亭黑.TTF");
}


.xiahuatishi{
  position: absolute;
  font-family: "mediumfont";
  font-size:25px;
  top: 90vh;
  right: 43.5vw;
  color: rgb(29, 255, 48);
  z-index: 99;
  line-height: 1.5rem;
  opacity: 1;
}


.retry{
  position: absolute;
  top: 90vh;
  right: 1vw;
  z-index: 999;
  cursor: url("/Material/hover1.png"),auto;
}
.retry:hover{
  cursor: url("/Material/hover1.png"),auto;
}
.retry:hover img{
  content: url("/Material/retry2.png");
  cursor: url("/Material/hover1.png"),auto;
}
